{% extends 'main.html' %}

{% block content %}

<h1>Projects Template</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis ligula convallis est tempus, sed laoreet diam commodo. Aenean finibus enim nisl, eu vulputate justo fermentum vitae. Mauris ut velit laoreet, eleifend sem et, imperdiet elit. Praesent luctus dapibus metus sit amet molestie. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed scelerisque orci eu arcu efficitur ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices elit a turpis ullamcorper, sit amet consectetur tellus semper. In in malesuada odio, eget aliquet mauris. Fusce pulvinar pulvinar augue. Etiam imperdiet lobortis sapien, vel venenatis arcu accumsan eu. Pellentesque ut enim nunc. Nunc sagittis odio dui, et maximus magna vestibulum ac.</p>

{% endblock content %}